PORT=3000
NODE_ENV=development
DATABASE_URL="postgresql://event_user:event_password@localhost:5432/event_management?schema=public"
REDIS_URL="redis://localhost:6379"
QUEUE_CREATE_ORDER_NAME="create-order"
JWT_SECRET="your_jwt_secret_key"
LOG_LEVEL="info"